# Variáveis de ambiente
.env

# Logs do sistema
storage/logs/*.log
storage/logs/ratelimit/*
!storage/logs/.gitkeep
!storage/logs/ratelimit/.gitkeep

# Uploads de utilizadores
public/uploand/*
!public/uploand/.gitkeep

# IDEs & SO
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.tmp
